<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gd3VXHhm7QJp9HJj2IzptMmNNz8+pdSu/XpvLklRz3g3tVvk5CxFY+DT00Fsqc1l" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Wave HeadShop</title>
    <style>
        /* Estilos adicionais */
        .product-card {
            margin-bottom: 20px;
        }
.bg-custom {
    background-color: rgb(5, 56, 5);
}
    </style>
  </head>
<body class="bg-custom text-white">

    <main>
        <header id="topo" class="jumbotron text-center" style="margin-bottom:0">
          <h1>Wave headshop</h1>
        </header>
  
        <nav class="navbar navbar-inverse" style="margin-bottom: 0; border-radius: 0;">
          <ul class="nav navbar-nav">
            <li><a href="../index.php">Home</a></li>
            <li><a href="../adminarea.php">Visualizar Produtos</a></li>
          </ul>
        </nav>
  
        <section class="home container-fluid" id="home">
  
          <h1 class="text-center"> Confirmação </h1>
            <h2 class="text-center"> Cadastro efetuado com sucesso! </h2>
  
       </section>
      </main>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
